<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="5" parallel="tests" thread-count="3">
    <test name="Test with Firefox">
    </test> <!-- Test -->
    <test name="Test with Chrome">
        <classes>
            <class name="cucumber.runner.RunnerTest"/>
            <parameter name="browserType" value="chrome"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->